.hcenter {
  text-align: center;
}

.bcenter {
  text-align: center;
  width: 100%;
}
.txtcenter {
  text-align: center;
}

.txtcenterfot {
  text-align: center;
}

.scpb {
  margin: 0px 15px;
}

.scpfooter {
  height: 6em;
  background-color: darkgray;
  align-items: center;
  display: flex;
}

.card-body {
  text-align: left;
}

.card-img {
  max-width: 130px;
}

.btncompra {
  width: 100%;
  max-height: 60px;
  padding: 0px;
  margin-top: 10px;
}

.pnegrito {
  font-weight: 700;
  font-size: 16px;
  color: gray;
  margin: 0;
}

.pnomeproduto {
  color: #888888;
}
